@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
}

:root {
    font-size:20px;
    --rosaClaro: #FFCCDD;
    --rosaIntermedio: #ED7EA4;
    --rosaOscuro: #e51e63;
    --claro: #FAFAFA;
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal; 
}
nav{
    background-color: var(--rosaIntermedio);
    color: var(--rosaClaro);
}

footer{
    background-color: var(--rosaOscuro);
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
}

.menu{
    list-style: none;
    justify-content: center;
    display: flex;
    gap:20px;
    padding: 0;
}

.menu__item a{
    text-decoration: none;
    color: var(--claro);
}

.parrafo {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #930b0b;

}

