.bodyRegistrarse {
    height: 100%;
    background: url("../images/register-background.avif");
    background-size: cover;
    background-position: center;
    font-family: 'Nunito', sans-serif;
}

.headerRegistrarse {
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.anclaLogo {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.anclaLogo i {
    margin-right: 10px;
}

.anclaLogo:hover {
    animation: tilt-n-move-shaking 0.25s infinite;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.seccionRegistrarse {
    background-color: rgba(0, 0, 0, 0.7);
    width: 30%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 40px;
    font-size: 1rem;
}

.tituloRegistrarse {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
}

.form-group {
    margin-bottom: 20px;
}

.form-group:last-child {
    margin-bottom: 0;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 1rem;
}

.input-select {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff; 
    border: none; 
    padding: 10px; 
}

#issue{
    list-style: none;
    font-size: 12px;
    padding: 0;
}

/* Para corregir el desplazamiento de los select */
.input-select option {
    background-color: rgba(0, 0, 0, 0.7); 
    color: #fff; 
}

.form-group input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

.terminos {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #fff;
}

.textoCheck {
    margin-left: 10px;
}

.boton {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton:hover {
    background-color: blueviolet;
}

.ayuda {
    text-align: center;
    font-size: 0.9rem;
}

.ayuda:hover {
    color: #fff;
    text-decoration: underline;
}

.input-form { 
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 1rem;
} 
